<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Countries</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../css/bootstrap.min.css"/>
        <link rel="stylesheet" href="../css/all.css">
    </head>
    <body>
        <div class="container my-5">
            <h2 class="mb-5">Update Country</h2>
            <div class="row">
                <div class="col-md-6">
                    <form action="#" th:action="@{/country/update/{id}(id=${country.id})}" th:object="${country}" method="post">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="name" class="col-form-label">Name</label>
                                <input type="text" th:field="*{name}" class="form-control" id="name" placeholder="Name">
                                <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="sign" class="col-form-label">Sign</label>
                                <input type="text" th:field="*{sign}" class="form-control" id="sign" placeholder="Sign">
                                <span th:if="${#fields.hasErrors('sign')}" th:errors="*{sign}" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mt-5">
                                <input type="submit" class="btn btn-primary" value="Update Country">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
